@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: "Open Sans";
  font-weight: 500;
  font-size: 18px;
  color: #786450;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  overflow-x: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
  width: 100%;
}
.wrapper > * {
  min-width: 0;
}

.wrapper__container {
  padding: 15px;
  height: 100vh;
  width: 100%;
  display: grid;
  gap: 15px;
  grid-template-rows: repeat(2, 1fr) 1.3fr;
  grid-template-columns: repeat(3, 1fr);
}

.grid-box {
  background-color: green;
}

.box-2 {
  grid-row: 1/3;
  gap: 15px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.box-3 {
  grid-column: 1/4;
  display: grid;
  grid-template-columns: 1fr 0.5fr 1fr 0.5fr;
  grid-template-rows: 1fr 1fr;
  gap: 15px;
}

.first {
  background-color: #007F5F;
}

.second {
  background-color: #2B9348;
  grid-row: 2/3;
}

.third {
  background-color: #80B918;
  grid-row: 1/3;
}

.fourth {
  background-color: #DDDF00;
}

.fifth {
  background-color: #EEEF20;
}

.sixth {
  background-color: #FFFF3F;
}

.seventh {
  background-color: #55A630;
  grid-row: 1/3;
}

.eighth {
  background-color: #AACC00;
}

.ninth {
  background-color: #BFD200;
}

.tenth {
  grid-column: 3/4;
  grid-row: 1/3;
  background-color: #D4D700;
}

.eleventh {
  grid-column: 4/span 1;
  grid-row: 1/span 2;
  background-color: #007F5F;
}