
body{
	font-family: 'Open Sans';
	font-weight: 500;
	font-size: 18px;
	color: #786450;
}

// Оболочка wrapper =========================================================
.wrapper {
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	align-items: center;
	overflow-x: hidden;
	// Прижимаємо footer
	> main {
		flex: 1 1 auto;
		width: 100%;
	}
	// Фікс для слайдерів
	> *{
		min-width: 0;
	}
}
// Обмежуючий контейнер =========================================================